/* add home page styles here */


.Choose-1 {
    display:flex;
    flex: row;
    border-spacing: 50px;
}

.Choose {
    display: block;
    /* z-index: 10;  */
}



.grenade {
    /* z-index: 20; */
    /* transform: translateY(-60px); */
   border: 5px solid black;
   height: 100px;
   width: 100px;
   background-image: url('https://steamuserimages-a.akamaihd.net/ugc/945081009037914252/61C468F95701104030B156FCBA96493FD13D31D3/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false');
}

.hide {
    display: none;
}